@reference "./globals.css";

.hero {
  height: calc(94vh - 74px);
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 50%, #3b6cb6 100%);

  @apply flex flex-col items-center justify-center gap-10;
}

.footer {
  @apply pt-10 px-5 pb-5 text-white;
  @apply animate-[bgPosition_4s_ease_infinite] bg-[length:400%] bg-gradient-to-r from-primary to-primary-darker;
}

@keyframes bgPosition {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
